<section>
  <div class="container">
    <div class="description">
      <img src="../../assets/images/MJ_doc.jpg" alt="">
      <h1>Dra. María José Domínguez</h1>
      <span class="titulo">Especialista en Pediatría</span>
      <div class="stars">
        <ul class="score">
          <li>
            <a><fa-icon [icon]="faStar"></fa-icon></a>
          </li>
          <li>
            <a><fa-icon [icon]="faStar"></fa-icon></a>
          </li>
          <li>
            <a><fa-icon [icon]="faStar"></fa-icon></a>
          </li>
          <li>
            <a><fa-icon [icon]="faStar"></fa-icon></a>
          </li>
          <li>
            <a><fa-icon [icon]="faStar"></fa-icon></a>
          </li>
        </ul>
      </div>
      <h2><span><fa-icon [icon]="faMapMarkerAlt"></fa-icon></span>Cl. 123 #7-60 Edificio Medical Center</h2>
    </div>
    <div class="perfil">
      <h2>Perfil profesional</h2>
        <p class="bio">
        La doctora María José Domínguez tiene más de 25 años de experiencia como Cardiólogo
        e Internista, su énfasis ha sido la prevención y el tratamiento de todo tipo de
        enfermedades cardiovasculares y metabólicas como la diabetes, el sobrepeso y los
        factores de riesgo asociados
      </p>
      <div class="especialidad">
        <h2>Especialidades</h2>
        <ul class="attributes">
          <li><a class="nofilled">Cirugía cardiovascular</a></li>
          <li><a>Electrocardiograma</a></li>
          <li><a>Hipertensión</a></li>
          <li><a>Insuficiencia cardíaca</a></li>
        </ul>
      </div> 
  </div>
  </div>
  <div class="parent">
    <div class="left">
      <p class="date"><span class="watch"><fa-icon [icon]="faClock"></fa-icon></span><strong>Disponible hoy:</strong> Martes, 11 de septiembre</p>
    </div>
    <div class="right"><button class="button">PEDIR CITA<span class="arrow"><fa-icon [icon]="faAngleRight"></fa-icon></span></button></div>
  </div>
</section>
<router-outlet></router-outlet>